/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

body, .sticky-footer-wrapper {
  min-height:100vh;
}

.error{
  color: red;
}

.error::before{
  content: '*';
}

.flex-fill {
  flex:1 1 auto;
}


.login,
.image {
  height: 250px;
}


.bg-image {
  background-image: url('https://res.cloudinary.com/mhmd/image/upload/v1555917661/art-colorful-contemporary-2047905_dxtao7.jpg');
  background-size: cover;
  background-position: center center;
}

.outer-container{
  margin: 0px;
  max-width: 100%;
  padding: 0px;
}

.profile-initial{
  background: #6c757d;
    padding: 5px 15px;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

.container.landing{
  margin: 20px auto;
}

.reg-form{
  margin-top: 30px; 
  padding: 0px 40px;
}

button#btnSubmit:disabled {
  background-color: grey;
  border-color: grey;
}

#loader-contain .overlay{
  position: fixed;
  z-index: 10;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.7;
}

#loader-contain .loader{
  position: fixed;
  z-index: 11;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  padding: 20px;
  border: solid 5px transparent;
  border-radius: 50%;
  border-image: linear-gradient(to right, white , lightblue);
  border-image-slice: 1;
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (min-width: 768px){
  .image {
    height: 100vh;
  }
  .reg-form{
    margin-top: 35%; 
    padding: 0px 40px
  }
}